Martingale.xml text=auto
cars.xml text=auto
cheater.png text=auto
workcv/Array5white.py text=auto
workcv/CAT2 CameraFeed.py text=auto
workcv/CAT2 Rect.py text=auto
workcv/CapturePhoto.py text=auto
workcv/Carsstationary.py text=auto
workcv/Script Face.py text=auto
workcv/ScriptCatFace.py text=auto
workcv/ScriptCatFace2.py text=auto
workcv/array3green.py text=auto
workcv/array4black.py text=auto
workcv/avartarcool.py text=auto
workcv/cyan16pixels.py text=auto
workcv/giraffescolored.py text=auto
workcv/img2inscale.py text=auto
workcv/imgfilepath.py text=auto
workcv/piconline.py text=auto
workcv/realtime.py text=auto
workcv/realtimeDetection.py text=auto
workcv/scriptFaceRect.py text=auto
workcv/tomatoesgrayscale.py text=auto
workcv/video.py text=auto
